body {
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
    justify-content: center;
}

img {
    max-width: 100%;
}

.left {
    width: 50%;
    padding: 10px;
}

.right {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
}