body {
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
}

.left {
    min-width: 25%;
    margin-right: 10px;
}

.right {
    min-width: 25%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: right;
}