body {
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.left {
    min-width: 25%;
    margin-right: 10px;
}
.left .spacer {
    min-height: 250px;
}
.back {
    align-self: start;
}

.middle {

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 25%;
    margin-left: 10px;
}

.next {
    align-self: end;
}